body
{
    margin: 0px;
}

td
{
    vertical-align: top;
}

h3
{
    margin-bottom: 0.5em;
}

table.master-layout
{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table.master-layout td.banner-box
{
    height: 60px;           
}

table.master-layout td.content-box
{
    height: 100%;
}

table.banner-layout
{
    width: 100%;
    height: 100%;
    border-collapse: collapse;          
}

table.banner-layout td.left
{
    width: 170px;
    background-color: #202020
}

table.banner-layout td.right
{
    border: solid black 1px;
    padding-right: 0.5em;
    color: white;
    background-color: #1D3F68;
    vertical-align: middle;
    font-size: 24pt;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
}

table.content-layout
{
    width: 100%;
    height: 100%;
    border-collapse: collapse;

}

table.content-layout td.left
{
    width: 170px;
    border-top: solid gray 1px;
    border-left: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    background-color: lavender;
}

table.content-layout td.right
{
    border-top: solid gray 1px;
    border-right: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
}

.tab
{
    display: block;
    margin: 1px;
    padding: 1px;
    padding-left: 5px;
    border: solid gray 1px;
    width: 170px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

a.tab-selected, a.tab-selected:visited
{
    color: white;
    background-color: darkred;
}

a.tab-unselected, a.tab-unselected:visited
{
    color: black;
    background-color: lightgrey;
}

a.tab-selected:hover
{
}

a.tab-unselected:hover
{
    background-color: pink;
}

.page
{
    margin: 1em;
}

.page-selected
{
    display: block;
}

.page-unselected
{
    display: none;
}

.screenshot-stack
{
    position: relative;
    width: 660px;
    height: 500px;
}

.screenshot-before
{
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
}

.screenshot-after
{
    left: 50;
    top: 75;
    position: absolute;
    z-index: 100;
}

h2
{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5em;
}

p
{
    margin-bottom: 1.0em;
}

a
{
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}

a:visited
{
    color: darkred;
}

a:hover
{
    text-decoration: underline;
}

ul.examples li
{
    margin-bottom: 0.5em;
}

.bookmarklet-box
{
    margin-bottom: 0.5em;
    width: 75%;
    border: solid darkgray 1px;
    background-color: cornsilk;
    padding: 1em;
    font-size: 14pt;
}

.example
{
    margin-bottom: 1.0em;
}

.example div
{
    margin-bottom: 0.3em;
}

.example-block-quote
{
    border: dashed gray 1px;
    background-color: cornsilk;
    padding: 6px;
    font-size: 12pt;
}

.example a, .example a:visited
{
    color: blue;
    font-weight: normal;
    text-decoration: underline;
}


